.container {
    width: 405px;
    height: 435px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.container img {
    margin: 0px 0px 24px 0px;
}

.imgContainer img {
    width: 270px;
    height: 160px;
    margin: 40px 66px;
}

.cardDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 24px;
}

.cardDesc h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 8px 0px;
}

.cardPointContainer {
    display: flex;
}

.cardPoint {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.cardPoint Image {
    margin: 0px 4px 0px 0px;
}

.cardPoint p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;

    color: #8A8A8A;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 7px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 49px 0px 0px 24px;
}

.total h6 {
    font-family: 'Helvetica';
    margin: 0px 23px 0px 0px;
}

.total p {
    font-family: 'Helvetica';
    margin: 0px;
}

.container button {
    width: 358px;
    height: 36px;

    background: #5CB85F;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

    margin: 24px 0px 0px 24px;
    border: 0px;
}

.container button:hover {
    cursor: pointer;
}