.bawahContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerDetailPaket {
    display: flex;
    align-items: flex-start;
    margin: 31px 0px 0px 0px;
}