.logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.navStyle {
    width: 69%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.nav-item:not(:last-child) .nav-link {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-right: 32px;
    color: #000000;
    text-decoration: none;
}

.nav-item:last-child {
    background-color: #5CB85F;
    border-radius: 2px;
    color: white;
    padding: 8px 12px;
    font-weight: 700;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}

.nav-item:last-child p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    margin: 0px;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0px;
}