.pembayaran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.pembayaran h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    margin-top: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
}

.pembayaran p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    color: #8A8A8A;
    margin: 0px;
}

.invoiceContainer {
    width: 605px;
    height: 290px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.invoiceDetail {
    display: flex;
    justify-content: space-between;

    width: 90%;
    margin-top: 24px;
}

.invoiceDetail h6 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
}

.invoiceDetail p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3C3C3C;

    margin: 0px;
}

.invoiceDetail button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 97px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #0D28A6;
}

.invoiceDetail button:hover {
    cursor: pointer;
}

.viewerContainer {
    width: 557px;
    height: 162px;
    margin-bottom: 24px;
}