.tiketTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
}

.tiketTopKiri {
    display: flex;
}

.tiketTopKiri h6 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
}

.tiketTopKiri p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    margin: 0px;
}

.tiketTopKiriDetail {
    margin-left: 16px;
}

.tiketTopKanan {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 294px;
    height: 18px;
    margin-bottom: 15px;
}

.tiketTopKanan p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.imageContainer:hover {
    cursor: pointer;
}